<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>@ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")

    <!-- Custom fonts for this template-->
    <link href="~/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->

    <link rel="stylesheet" href="~/Content/Customs/sb-admin-2.min.css" />
    <link rel="stylesheet" href="@Url.Content("~/Content/Customs/navbar.css")" media="all" />
    <link rel="stylesheet" href="~/Content/Customs/Custom_1.razor.css" media="all" />
    <link rel="stylesheet" href="@Url.Content("//cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css")" media="all" />

</head>
<body id="page-top">

    <!-- End of Topbar -->
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Topbar -->
        @Html.Partial("_TopBar");

        <!-- Sidebar -->
        @Html.Partial("_SideBar");

        <!-- End of Sidebar -->
        <!-- Background -->
        
        @{ 
            var authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];
            if (authCookie != null)
            {
                <div id="bg"></div>
            }
        }

        <!-- End of bg-->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content" style="margin-top: 72px;">

                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <hr />
            <footer class="footer sticky-footer bg-transparent">
                <div class="container my-auto text-muted text-center">
                    <p>&copy; 23/04/2022 - Author: Vu Dat</p>
                    <p class="text-danger">Not for commercial use - This website is used for Educational purpose only!</p>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="/Authentication/Logout">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Confirm Modal-->
    @Html.Partial("_ConfirmForm")

    <!-- Bootstrap core JavaScript-->
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/Scripts/Customs/sb-admin-2.js"></script>
    <script src="//cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#table_id').DataTable();
        });
        $(() => {
            $('#submitBtn').on('click', (e) => {
                $('#Form').submit();
            });
        });
    </script>

    <!-- Scripts for chat hub-->
    <script src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script src="~/signalr/hubs"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-474K6FYWXE"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-474K6FYWXE');
    </script>

    <!--Bắt buộc phải có để load script cho SignalR Hub-->
    @RenderSection("scripts", required: false)
</body>

</html>
