<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Trường ĐH Lùa Gà</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/Customs/CustomTable_1.css")
    @Styles.Render("~/Content/Customs/Custom_1.css")
    @Styles.Render("//cdn.datatables.net/1.12.0/css/jquery.dataTables.min.css");

    @Styles.Render("https://unicons.iconscout.com/release/v4.0.0/css/line.css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/"><i class="uil uil-atom" style="color: #fff; font-size: 36px; font-weight: 500; padding-top: 20px; "></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Trang chủ", "Index", "Home")</li>
                    <li>@Html.ActionLink("Về chúng tôi", "About", "Home")</li>
                    <li>@Html.ActionLink("Liên hệ", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Khác", "Intro", "Home")</li>
                </ul>
                <div class="navbar-collapse collapse" style="float: right">
                    <ul class="nav navbar-nav">
                        <li>
                            @if (Request.IsAuthenticated)
                            {

                                @Html.ActionLink("Log Out", "Logout", "Account")
                            }
                            else
                            {

                                @Html.ActionLink("Login", "Index", "User/Login")
                            }
                        </li>
                        <li>
                            @if (!Request.IsAuthenticated)
                            {
                                @Html.ActionLink("Register", "Register", "Account")
                            }

                        </li>
                    </ul>
                </div>
            </div>
            </div>
            
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>Information about this web</p>
            <p>&copy; 23/04/2022 - Author: Vu Dat</p>
            <p class="text-danger">Do Not Copy - This website is used for Educational purpose only!</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/jquery.validate.min.js")
    @Scripts.Render("~/Scripts/jquery.validate.unobtrusive.min.js")
    @Scripts.Render("~/Scripts/Index.js")
    @Scripts.Render("//cdn.datatables.net/1.12.0/js/jquery.dataTables.min.js");
    @RenderSection("scripts", required: false)
</body>

</html>
