@model StudentManagementWebApp.Models.Student
@using StudentManagementWebApp.Models
@{
    
    ViewBag.Title = "Cổng Thông Tin Đăng Ký Học Phần";
}

<div class="jumbotron bg-gradient-success">
    <h1 class="text-center text-white">Cổng Thông Tin Đăng Ký Học Phần</h1>

</div>
<div class="container">
    <h2 class="text-center">Sinh viên: <span class="font-weight-bolder">@Html.DisplayFor(model => model.Name)</span></h2>
</div>
<div class="container">
    <h2>Danh sách học phần chưa đăng ký</h2>
    <div class="table-responsive text-center">
        <table class="table table-bordered" id="table_id" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên Môn</th>
                    <th class="text-center">Số Tiết</th>
                    <th class="text-center">Thêm vào danh sách đăng ký</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int stt = 1;
                    foreach (StudentManagementWebApp.Models.Subject s in ViewBag.Subjects)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@s.Name</td>
                            <td>@s.NumOfLessons</td>
                            <td>
                                @Html.ActionLink("+","AddToTmpList", "Student", new { Name = s.Name}, htmlAttributes: new { @class="btn"})
                            </td>
                        </tr>
                        stt++;
                    }
                }
            </tbody>
            
        </table>
    </div>
</div>

<div class="container">
    <h2>Danh sách môn đang chờ đăng ký</h2>
    <div class="table-responsive text-center">
        <table class="table table-bordered" id="table_id1" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th class="text-center">STT</th>
                    <th class="text-center">Tên Môn</th>
                    <th class="text-center">Số Tiết</th>
                    <th class="text-center">Loại khỏi danh sách</th>
                </tr>
            </thead>
            <tbody>
                @{
                    stt = 1;
                    foreach (StudentManagementWebApp.Models.Subject s in ViewBag.TmpList)
                    {
                        <tr>
                            <td>@stt</td>
                            <td>@s.Name</td>
                            <td>@s.NumOfLessons</td>
                            <td>
                                -
                            </td>
                        </tr>
                        stt++;
                    }
                }
            </tbody>

        </table>
    </div>
</div>