@model StudentManagementWebApp.Models.Student

@{
    ViewBag.Title = "Thông tin ";
}
<div class="breadcrumb">
    <div class="breadcrumb-item">
        @Html.ActionLink("Danh sách sinh viên", "Index")
    </div>
    <div class="breadcrumb-item">
        @Html.ActionLink("Thông tin sinh viên", "Details", new { id = ViewBag.Id })
    </div>
    <div class="breadcrumb-item">
        <a href="#">Thông tin học phần</a>
    </div>
</div>

<h2 class="text-center" style="color: #384289;">Danh sách các môn học đã đăng ký</h2>
<div class="container">
    <div class="table-responsive">
        <table id="table-id" class="table table-bordered">
            @Html.Raw(ViewBag.CourseList)
        </table>
    </div>
</div>
<div class="container margin-top-15 center-block">
    <p>
        @Html.ActionLink("Trở về trang trước", "Details", new { id = ViewBag.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Trở về danh sách sinh viên", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
    </p>
</div>
