@model StudentManagementWebApp.Models.Student

@{
    ViewBag.Title = "Details";
}
<div class="breadcrumb">
    <div class="breadcrumb-item">
        @Html.ActionLink("Danh sách sinh viên", "Index")
    </div>
    <div class="breadcrumb-item">
        <a href="#">Thông tin sinh viên</a>
    </div>
</div>
<h2 class="text-center col-md-10">Thông tin sinh viên</h2>

<div class="container center-block">
    <hr class="col-md-10 float-left">
    <div>
        <div class="info-group row">
            <label class="col-6">
                <span>@Html.DisplayNameFor(model => model.Name)</span>
                :
                <span class="font-weight-bold">@Html.DisplayFor(model => model.Name)</span>
            </label>
            <label class="col-6">
                <span>@Html.DisplayNameFor(model => model.Gender)</span>
                :
                <span class="font-weight-bold">@Html.DisplayFor(model => model.Gender)</span>
            </label>
        </div>
        <div class="info-group row">
            <label class="col-6">
                <span>@Html.DisplayNameFor(model => model.DayOfBirth)</span>
                :
                <span class="font-weight-bold">@Html.DisplayFor(model => model.DayOfBirth)</span>
            </label>
            <label class="col-6">
                <span>@Html.DisplayNameFor(model => model.ClassId)</span>
                :
                <span class="font-weight-bold">@Html.DisplayFor(model => model.ClassId)</span>
            </label>
        </div>
        <div class="info-group row">            
            <label class="col-6">
                <span>@Html.DisplayNameFor(model => model.CourseId)</span>
                :
                <span class="font-weight-bold">@Html.DisplayFor(model => model.CourseId)</span>
            </label>
        </div>
    </div>
    <hr class="col-md-10 float-left">
    


    <div class="container-fluid">
        @Html.ActionLink("Danh sách học phần", "CourseDetails", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Kết quả học tập", "ResultDetails", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>
@*<div class="container center-block">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>*@