@model StudentManagementWebApp.Models.Student

@{
    ViewBag.Title = "Details";
}
<h2>Thông tin sinh viên</h2>

<div class="container center-block">
    <h4>Sinh Viên</h4>
    <hr />
    <div class="col-md-6">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DayOfBirth)
            </dt>

            <dd>
                @{
                    var date = Model.DayOfBirth.ToString("dd/MM/yyyy");
                    @Html.DisplayName(date)
                }
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ClassId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ClassId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CourseId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CourseId)

            </dd>

        </dl>
    </div>
    <div class="container-fluid">
        @Html.ActionLink("Danh sách học phần", "CourseDetails", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Kết quả học tập", "ResultDetails", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
    </div>
</div>
<div class="container center-block">
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</div>