@model StudentManagementWebApp.Models.Student

@{
    ViewBag.Title = "Edit";
}
<div class="breadcrumb">
    <div class="breadcrumb-item">
        @Html.ActionLink("Danh sách sinh viên", "Index")
    </div>
    <div class="breadcrumb-item">
        <a href="#">Chỉnh sửa</a>
    </div>
</div>
<div class="container-fluid justify-content-center align-content-center">
    @using (Html.BeginForm("Edit","Student",FormMethod.Post, htmlAttributes: new { @id = "Form"}))
    {
        @Html.AntiForgeryToken()
    <div class="form-group">
        <h4 class="text-center col-md-10">Sửa đổi thông tin</h4>
        <hr class="col-md-10 float-left">
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Gender, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.DayOfBirth, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.DayOfBirth, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @type = "date", @class = "form-control theDate" } })
                @Html.ValidationMessageFor(model => model.DayOfBirth, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ClassId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ClassId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ClassId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CourseId, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CourseId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CourseId, "", new { @class = "text-danger" })
            </div>
        </div>
        <hr class="col-md-10 float-left">
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Lưu" data-toggle="modal" data-target="#confirmModal" aria-labelledby="Save" class="btn btn-outline-primary btn-block" />
            </div>
        </div>
    </div>
    }
</div>



