@model IEnumerable<StudentManagementWebApp.Models.Student>
@{
    ViewBag.Title = "Dashboard for Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="text-capitalize text-center">
    <h1 class="text-capitalize text-info">Trang thông tin sinh viên</h1>
    @*<button class="btn-default" style="text-decoration: none; color: dodgerblue">
        @Html.ActionLink("Create New", "Create")
    </button>*@
    @*<button class="btn-default" style="text-decoration: none; color: dodgerblue">
            @Html.ActionLink("Load DataBase", "LoadDB")
        </button>*@
    <div style="padding: 0 0 20px 0">
    @Html.ActionLink("Create New", "Create", "Student", null,
    new { @class = "btn btn-default btn-primary" }
    )
    @Html.ActionLink("Load Data Base", "LoadDB", "Student", null,
    new { @class = "btn btn-default btn-primary" }
    )

    </div>
    <div style="padding: 5px; background: black; margin: 20px 0 5px 0; margin: 0 auto; margin-bottom: 20px; color: white; width: 200px; border-radius: 5px; font-weight: bold; ">
        Tổng số sinh viên: 
        <span style="color: lawngreen;">@ViewBag.TotalStudents</span>
    </div>
    <table class="table">
        <tr>
            <th class="text-center">
                @Html.DisplayName("Mã số sinh viên")
                @*@Html.DisplayNameFor(model => model.Id)*@
            </th>
            <th class="text-center">
                @Html.DisplayName("Họ và tên")
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th class="text-center">
                @Html.DisplayName("Giới tính")
                @*@Html.DisplayNameFor(model => model.Gender)*@
            </th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.DayOfBirth)*@
                @Html.DisplayName("Ngày sinh")
            </th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.ClassId)*@
                @Html.DisplayName("Lớp")
            </th>
            <th class="text-center">
                @*@Html.DisplayNameFor(model => model.CourseId)*@
                @Html.DisplayName("Khóa")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender)
                </td>
                <td>

                    @Html.DisplayFor(modelItem => item.DayOfBirth)
                    @*@DateTime.Parse(Html.DisplayFor(modelItem => item.DayOfBirth).ToString()).ToShortDateString()*@

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ClassId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CourseId)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>   
</div>
