@model IEnumerable<StudentManagementWebApp.Models.Student>
@{
    ViewBag.Title = "Dashboard for Student";
    string[] roles = new string[1];
    var authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];
    if (authCookie != null)
    {
        FormsAuthenticationTicket authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        roles = authTicket.UserData.Split(',');
    }
}

<!-- Background -->

@*@{
    if (authCookie != null)
    {
        <div id="bg"></div>
    }
}*@

<!-- End of bg-->
<div class="text-capitalize text-center">
    <h1 class="text-capitalize text-info">Trang Quản Lý Sinh Viên</h1>

    <div style="padding: 0 0 20px 0">
        @Html.ActionLink("Create New", "Create", "Student", null,
        new { @class = "btn btn-default btn-primary" }
        )
        @*@Html.ActionLink("Load Data Base", "LoadDB", "Student", null,
        new { @class = "btn btn-default btn-primary" }
        )*@

    </div>
    <div style="padding: 5px; background: black; margin: 20px 0 5px 0; margin: 0 auto; margin-bottom: 20px; color: white; width: 200px; border-radius: 5px; font-weight: bold; ">
        @ViewBag.TestFloat - Tổng số sinh viên:
        <span style="color: lawngreen;">@ViewBag.TotalStudents</span>
    </div>

    <div class="container">
        <div class="table-responsive">
            <table class="table table-bordered" id="table_id" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Id)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.Gender)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.DayOfBirth)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.ClassId)
                        </th>
                        <th class="text-center">
                            @Html.DisplayNameFor(model => model.CourseId)
                        </th>
                        <th class="text-center">
                            Tùy chọn
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Name)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Gender)
                            </td>
                            <td>
                                @{
                                    var date = item.DayOfBirth.ToString("dd/MM/yyyy");
                                    @Html.DisplayName(date)
                                }
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ClassId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.CourseId)
                            </td>
                            <td>
                                @if (authCookie == null)
                                {
                                    @Html.ActionLink("Details", "Details", new { id = item.Id });
                                }
                                else
                                {
                                    if (roles[0].Equals("ADMIN"))
                                    {
                                        <span class="btn-group">

                                            @Html.ActionLink("Sửa", "Edit", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
                                            @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" })
                                            <a id="@item.Id" class="btn btn-outline-primary" onclick="deleteConfirm('@item.Id')" >Xóa</a>

                                        </span>
                                    }
                                    else
                                    {
                                        @Html.ActionLink("Chi tiết", "Details", new { id = item.Id }, htmlAttributes: new { @class = "btn btn-outline-primary" });
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div><!-- 		End of Container -->
</div>


<!-- Delete modal -->
<div id="del_confirmModal" class="modal" tabindex="-1" role="dialog" aria-labelledby="del_confirmModalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-danger" style="color: #000;">
                <h5 class="modal-title" id="confirmModalTitle" style="color: #fff;">Cảnh Báo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" style="color: #000">
                <p>Bạn có chắc chắn muốn xóa sinh viên có mã <strong id="delValName"></strong> ?</p>
                <p>Dữ liệu có thể bị mất vĩnh viễn!</p>
            </div>
            <div class="modal-footer">
                <button id="delete" type="button" class="btn bg-gradient-danger text-white" aria-label="Save" onclick="deleteData()">Xóa</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Hủy</button>
            </div>
        </div>
    </div>
</div>
<!-- End of Delete modal-->
