@model IEnumerable<StudentManagementWebApp.Models.Student>
@{
    ViewBag.Title = "Dashboard for Student";
    string[] roles = new string[1];
    var authCookie = HttpContext.Current.Request.Cookies[FormsAuthentication.FormsCookieName];
    if (authCookie != null)
    {
        FormsAuthenticationTicket authTicket = FormsAuthentication.Decrypt(authCookie.Value);
        roles = authTicket.UserData.Split(',');
    }
}
<div class="text-capitalize text-center">
    <h1 class="text-capitalize text-info">Quản trị sinh viên</h1>

    <div style="padding: 0 0 20px 0">
        @Html.ActionLink("Create New", "Create", "Student", null,
        new { @class = "btn btn-default btn-primary" }
        )
        @Html.ActionLink("Load Data Base", "LoadDB", "Student", null,
        new { @class = "btn btn-default btn-primary" }
        )

    </div>
    <div style="padding: 5px; background: black; margin: 20px 0 5px 0; margin: 0 auto; margin-bottom: 20px; color: white; width: 200px; border-radius: 5px; font-weight: bold; ">
        Tổng số sinh viên:
        <span style="color: lawngreen;">@ViewBag.TotalStudents</span>
    </div>

    <div class="container">
    <div class="table-responsive">
        <table class="table table-bordered" id="table_id" width="100%" cellspacing="0">
            <thead>
            <tr>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.Gender)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.DayOfBirth)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.ClassId)
                </th>
                <th class="text-center">
                    @Html.DisplayNameFor(model => model.CourseId)
                </th>
                <th class="text-center">
                    Tùy chọn
                </th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gender)
                    </td>
                    <td>
                        @{
                            var date = item.DayOfBirth.ToString("dd/MM/yyyy");
                            @Html.DisplayName(date)
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ClassId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CourseId)
                    </td>
                    <td>
                        @if (authCookie == null)
                        {
                            @Html.ActionLink("Details", "Details", new { id = item.Id });
                        }
                        else
                        {
                            if (roles[0].Equals("ADMIN"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.Id });
                                @Html.ActionLink(" | ", "");
                                @Html.ActionLink("Details", "Details", new { id = item.Id });
                                @Html.ActionLink(" | ", "");
                                @Html.ActionLink("Delete", "Delete", new { id = item.Id });
                            }
                            else
                            {
                                @Html.ActionLink("Details", "Details", new { id = item.Id });
                            }
                        }
                    </td>
                </tr>
            }
            </tbody>

        </table>
    </div>
    </div><!-- 		End of Container -->
</div>
